.movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.panel {
  text-align: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  padding: 5px;
  width: 200px;
  height: auto;
  margin: 10px;
  vertical-align: top;
  transition: box-shadow 2s;

  &:hover {
    box-shadow: 2px 6px 2px rgba(0, 0, 0, 0.2);
  }

  span {
    font-weight: bold;
    margin: 10px;
  }

  ul {
    list-style: none;
    li {
      text-align: left;
      font-size: smaller;

    }
  }

}
